.f48 {
  width: 48px;
  height: 48px;
  background: url("/assets/imgs/icons/flags-48.png") no-repeat;
  &.flag-ad {
    background-position: 0 0px;
  }
  &.flag-ae {
    background-position: 0 -48px;
  }
  &.flag-af {
    background-position: 0 -96px;
  }
  &.flag-ag {
    background-position: 0 -144px;
  }
  &.flag-ai {
    background-position: 0 -192px;
  }
  &.flag-al {
    background-position: 0 -240px;
  }
  &.flag-am {
    background-position: 0 -288px;
  }
  &.flag-an {
    background-position: 0 -336px;
  }
  &.flag-ao {
    background-position: 0 -384px;
  }
  &.flag-aq {
    background-position: 0 -432px;
  }
  &.flag-ar {
    background-position: 0 -480px;
  }
  &.flag-as {
    background-position: 0 -528px;
  }
  &.flag-at {
    background-position: 0 -576px;
  }
  &.flag-au {
    background-position: 0 -624px;
  }
  &.flag-aw {
    background-position: 0 -672px;
  }
  &.flag-ax {
    background-position: 0 -720px;
  }
  &.flag-az {
    background-position: 0 -768px;
  }
  &.flag-ba {
    background-position: 0 -816px;
  }
  &.flag-bb {
    background-position: 0 -864px;
  }
  &.flag-bd {
    background-position: 0 -912px;
  }
  &.flag-be {
    background-position: 0 -960px;
  }
  &.flag-bf {
    background-position: 0 -1008px;
  }
  &.flag-bg {
    background-position: 0 -1056px;
  }
  &.flag-bh {
    background-position: 0 -1104px;
  }
  &.flag-bi {
    background-position: 0 -1152px;
  }
  &.flag-bj {
    background-position: 0 -1200px;
  }
  &.flag-bl {
    background-position: 0 -1248px;
  }
  &.flag-bm {
    background-position: 0 -1296px;
  }
  &.flag-bn {
    background-position: 0 -1344px;
  }
  &.flag-bo {
    background-position: 0 -1392px;
  }
  &.flag-br {
    background-position: 0 -1440px;
  }
  &.flag-bs {
    background-position: 0 -1488px;
  }
  &.flag-bt {
    background-position: 0 -1536px;
  }
  &.flag-bv {
    background-position: 0 -1584px;
  }
  &.flag-bw {
    background-position: 0 -1632px;
  }
  &.flag-by {
    background-position: 0 -1680px;
  }
  &.flag-bz {
    background-position: 0 -1728px;
  }
  &.flag-ca {
    background-position: 0 -1776px;
  }
  &.flag-cc {
    background-position: 0 -1824px;
  }
  &.flag-cd {
    background-position: 0 -1872px;
  }
  &.flag-cf {
    background-position: 0 -1920px;
  }
  &.flag-cg {
    background-position: 0 -1968px;
  }
  &.flag-ch {
    background-position: 0 -2016px;
  }
  &.flag-ci {
    background-position: 0 -2064px;
  }
  &.flag-ck {
    background-position: 0 -2112px;
  }
  &.flag-cl {
    background-position: 0 -2160px;
  }
  &.flag-cm {
    background-position: 0 -2208px;
  }
  &.flag-cn {
    background-position: 0 -2256px;
  }
  &.flag-co {
    background-position: 0 -2304px;
  }
  &.flag-cr {
    background-position: 0 -2352px;
  }
  &.flag-cu {
    background-position: 0 -2400px;
  }
  &.flag-cv {
    background-position: 0 -2448px;
  }
  &.flag-cw {
    background-position: 0 -2496px;
  }
  &.flag-cx {
    background-position: 0 -2544px;
  }
  &.flag-cy {
    background-position: 0 -2592px;
  }
  &.flag-cz {
    background-position: 0 -2640px;
  }
  &.flag-de {
    background-position: 0 -2688px;
  }
  &.flag-dj {
    background-position: 0 -2736px;
  }
  &.flag-dk {
    background-position: 0 -2784px;
  }
  &.flag-dm {
    background-position: 0 -2832px;
  }
  &.flag-do {
    background-position: 0 -2880px;
  }
  &.flag-dz {
    background-position: 0 -2928px;
  }
  &.flag-ec {
    background-position: 0 -2976px;
  }
  &.flag-ee {
    background-position: 0 -3024px;
  }
  &.flag-eg {
    background-position: 0 -3072px;
  }
  &.flag-eh {
    background-position: 0 -3120px;
  }
  &.flag-er {
    background-position: 0 -3168px;
  }
  &.flag-es {
    background-position: 0 -3216px;
  }
  &.flag-et {
    background-position: 0 -3264px;
  }
  &.flag-fi {
    background-position: 0 -3312px;
  }
  &.flag-fj {
    background-position: 0 -3360px;
  }
  &.flag-fk {
    background-position: 0 -3408px;
  }
  &.flag-fm {
    background-position: 0 -3456px;
  }
  &.flag-fo {
    background-position: 0 -3504px;
  }
  &.flag-fr {
    background-position: 0 -3552px;
  }
  &.flag-ga {
    background-position: 0 -3600px;
  }
  &.flag-gb {
    background-position: 0 -3648px;
  }
  &.flag-gd {
    background-position: 0 -3696px;
  }
  &.flag-ge {
    background-position: 0 -3744px;
  }
  &.flag-gf {
    background-position: 0 -3792px;
  }
  &.flag-gg {
    background-position: 0 -3840px;
  }
  &.flag-gh {
    background-position: 0 -3888px;
  }
  &.flag-gi {
    background-position: 0 -3936px;
  }
  &.flag-gl {
    background-position: 0 -3984px;
  }
  &.flag-gm {
    background-position: 0 -4032px;
  }
  &.flag-gn {
    background-position: 0 -4080px;
  }
  &.flag-gp {
    background-position: 0 -4128px;
  }
  &.flag-gq {
    background-position: 0 -4176px;
  }
  &.flag-gr {
    background-position: 0 -4224px;
  }
  &.flag-gs {
    background-position: 0 -4272px;
  }
  &.flag-gt {
    background-position: 0 -4320px;
  }
  &.flag-gu {
    background-position: 0 -4368px;
  }
  &.flag-gw {
    background-position: 0 -4416px;
  }
  &.flag-gy {
    background-position: 0 -4464px;
  }
  &.flag-hk {
    background-position: 0 -4512px;
  }
  &.flag-hm {
    background-position: 0 -4560px;
  }
  &.flag-hn {
    background-position: 0 -4608px;
  }
  &.flag-hr {
    background-position: 0 -4656px;
  }
  &.flag-ht {
    background-position: 0 -4704px;
  }
  &.flag-hu {
    background-position: 0 -4752px;
  }
  &.flag-id {
    background-position: 0 -4800px;
  }
  &.flag-ie {
    background-position: 0 -4848px;
  }
  &.flag-il {
    background-position: 0 -4896px;
  }
  &.flag-im {
    background-position: 0 -4944px;
  }
  &.flag-in {
    background-position: 0 -4992px;
  }
  &.flag-io {
    background-position: 0 -5040px;
  }
  &.flag-iq {
    background-position: 0 -5088px;
  }
  &.flag-ir {
    background-position: 0 -5136px;
  }
  &.flag-is {
    background-position: 0 -5184px;
  }
  &.flag-it {
    background-position: 0 -5232px;
  }
  &.flag-je {
    background-position: 0 -5280px;
  }
  &.flag-jm {
    background-position: 0 -5328px;
  }
  &.flag-jo {
    background-position: 0 -5376px;
  }
  &.flag-jp {
    background-position: 0 -5424px;
  }
  &.flag-ke {
    background-position: 0 -5472px;
  }
  &.flag-kg {
    background-position: 0 -5520px;
  }
  &.flag-kh {
    background-position: 0 -5568px;
  }
  &.flag-ki {
    background-position: 0 -5616px;
  }
  &.flag-km {
    background-position: 0 -5664px;
  }
  &.flag-kn {
    background-position: 0 -5712px;
  }
  &.flag-kp {
    background-position: 0 -5760px;
  }
  &.flag-kr {
    background-position: 0 -5808px;
  }
  &.flag-kw {
    background-position: 0 -5856px;
  }
  &.flag-ky {
    background-position: 0 -5904px;
  }
  &.flag-kz {
    background-position: 0 -5952px;
  }
  &.flag-la {
    background-position: 0 -6000px;
  }
  &.flag-lb {
    background-position: 0 -6048px;
  }
  &.flag-lc {
    background-position: 0 -6096px;
  }
  &.flag-li {
    background-position: 0 -6144px;
  }
  &.flag-lk {
    background-position: 0 -6192px;
  }
  &.flag-lr {
    background-position: 0 -6240px;
  }
  &.flag-ls {
    background-position: 0 -6288px;
  }
  &.flag-lt {
    background-position: 0 -6336px;
  }
  &.flag-lu {
    background-position: 0 -6384px;
  }
  &.flag-lv {
    background-position: 0 -6432px;
  }
  &.flag-ly {
    background-position: 0 -6480px;
  }
  &.flag-ma {
    background-position: 0 -6528px;
  }
  &.flag-mc {
    background-position: 0 -6576px;
  }
  &.flag-md {
    background-position: 0 -6624px;
  }
  &.flag-me {
    background-position: 0 -6672px;
  }
  &.flag-mf {
    background-position: 0 -6720px;
  }
  &.flag-mg {
    background-position: 0 -6768px;
  }
  &.flag-mh {
    background-position: 0 -6816px;
  }
  &.flag-mk {
    background-position: 0 -6864px;
  }
  &.flag-ml {
    background-position: 0 -6912px;
  }
  &.flag-mm {
    background-position: 0 -6960px;
  }
  &.flag-mn {
    background-position: 0 -7008px;
  }
  &.flag-mo {
    background-position: 0 -7056px;
  }
  &.flag-mp {
    background-position: 0 -7104px;
  }
  &.flag-mq {
    background-position: 0 -7152px;
  }
  &.flag-mr {
    background-position: 0 -7200px;
  }
  &.flag-ms {
    background-position: 0 -7248px;
  }
  &.flag-mt {
    background-position: 0 -7296px;
  }
  &.flag-mu {
    background-position: 0 -7344px;
  }
  &.flag-mv {
    background-position: 0 -7392px;
  }
  &.flag-mw {
    background-position: 0 -7440px;
  }
  &.flag-mx {
    background-position: 0 -7488px;
  }
  &.flag-my {
    background-position: 0 -7536px;
  }
  &.flag-mz {
    background-position: 0 -7584px;
  }
  &.flag-na {
    background-position: 0 -7632px;
  }
  &.flag-nc {
    background-position: 0 -7680px;
  }
  &.flag-ne {
    background-position: 0 -7728px;
  }
  &.flag-nf {
    background-position: 0 -7776px;
  }
  &.flag-ng {
    background-position: 0 -7824px;
  }
  &.flag-ni {
    background-position: 0 -7872px;
  }
  &.flag-nl {
    background-position: 0 -7920px;
  }
  &.flag-no {
    background-position: 0 -7968px;
  }
  &.flag-np {
    background-position: 0 -8016px;
  }
  &.flag-nr {
    background-position: 0 -8064px;
  }
  &.flag-nu {
    background-position: 0 -8112px;
  }
  &.flag-nz {
    background-position: 0 -8160px;
  }
  &.flag-om {
    background-position: 0 -8208px;
  }
  &.flag-pa {
    background-position: 0 -8256px;
  }
  &.flag-pe {
    background-position: 0 -8304px;
  }
  &.flag-pf {
    background-position: 0 -8352px;
  }
  &.flag-pg {
    background-position: 0 -8400px;
  }
  &.flag-ph {
    background-position: 0 -8448px;
  }
  &.flag-pk {
    background-position: 0 -8496px;
  }
  &.flag-pl {
    background-position: 0 -8544px;
  }
  &.flag-pm {
    background-position: 0 -8592px;
  }
  &.flag-pn {
    background-position: 0 -8640px;
  }
  &.flag-pr {
    background-position: 0 -8688px;
  }
  &.flag-ps {
    background-position: 0 -8736px;
  }
  &.flag-pt {
    background-position: 0 -8784px;
  }
  &.flag-pw {
    background-position: 0 -8832px;
  }
  &.flag-py {
    background-position: 0 -8880px;
  }
  &.flag-qa {
    background-position: 0 -8928px;
  }
  &.flag-re {
    background-position: 0 -8976px;
  }
  &.flag-ro {
    background-position: 0 -9024px;
  }
  &.flag-rs {
    background-position: 0 -9072px;
  }
  &.flag-ru {
    background-position: 0 -9120px;
  }
  &.flag-rw {
    background-position: 0 -9168px;
  }
  &.flag-sa {
    background-position: 0 -9216px;
  }
  &.flag-sb {
    background-position: 0 -9264px;
  }
  &.flag-sc {
    background-position: 0 -9312px;
  }
  &.flag-sd {
    background-position: 0 -9360px;
  }
  &.flag-se {
    background-position: 0 -9408px;
  }
  &.flag-sg {
    background-position: 0 -9456px;
  }
  &.flag-sh {
    background-position: 0 -9504px;
  }
  &.flag-si {
    background-position: 0 -9552px;
  }
  &.flag-sj {
    background-position: 0 -9600px;
  }
  &.flag-sk {
    background-position: 0 -9648px;
  }
  &.flag-sl {
    background-position: 0 -9696px;
  }
  &.flag-sm {
    background-position: 0 -9744px;
  }
  &.flag-sn {
    background-position: 0 -9792px;
  }
  &.flag-so {
    background-position: 0 -9840px;
  }
  &.flag-sr {
    background-position: 0 -9888px;
  }
  &.flag-ss {
    background-position: 0 -9936px;
  }
  &.flag-st {
    background-position: 0 -9984px;
  }
  &.flag-sv {
    background-position: 0 -10032px;
  }
  &.flag-sx {
    background-position: 0 -10080px;
  }
  &.flag-sy {
    background-position: 0 -10128px;
  }
  &.flag-sz {
    background-position: 0 -10176px;
  }
  &.flag-tc {
    background-position: 0 -10224px;
  }
  &.flag-td {
    background-position: 0 -10272px;
  }
  &.flag-tf {
    background-position: 0 -10320px;
  }
  &.flag-tg {
    background-position: 0 -10368px;
  }
  &.flag-th {
    background-position: 0 -10416px;
  }
  &.flag-tj {
    background-position: 0 -10464px;
  }
  &.flag-tk {
    background-position: 0 -10512px;
  }
  &.flag-tl {
    background-position: 0 -10560px;
  }
  &.flag-tm {
    background-position: 0 -10608px;
  }
  &.flag-tn {
    background-position: 0 -10656px;
  }
  &.flag-to {
    background-position: 0 -10704px;
  }
  &.flag-tr {
    background-position: 0 -10752px;
  }
  &.flag-tt {
    background-position: 0 -10800px;
  }
  &.flag-tv {
    background-position: 0 -10848px;
  }
  &.flag-tw {
    background-position: 0 -10896px;
  }
  &.flag-tz {
    background-position: 0 -10944px;
  }
  &.flag-ua {
    background-position: 0 -10992px;
  }
  &.flag-ug {
    background-position: 0 -11040px;
  }
  &.flag-um {
    background-position: 0 -11088px;
  }
  &.flag-us {
    background-position: 0 -11136px;
  }
  &.flag-uy {
    background-position: 0 -11184px;
  }
  &.flag-uz {
    background-position: 0 -11232px;
  }
  &.flag-va {
    background-position: 0 -11280px;
  }
  &.flag-vc {
    background-position: 0 -11328px;
  }
  &.flag-ve {
    background-position: 0 -11376px;
  }
  &.flag-vg {
    background-position: 0 -11424px;
  }
  &.flag-vi {
    background-position: 0 -11472px;
  }
  &.flag-vn {
    background-position: 0 -11520px;
  }
  &.flag-vu {
    background-position: 0 -11568px;
  }
  &.flag-wf {
    background-position: 0 -11616px;
  }
  &.flag-ws {
    background-position: 0 -11664px;
  }
  &.flag-ye {
    background-position: 0 -11712px;
  }
  &.flag-yt {
    background-position: 0 -11760px;
  }
  &.flag-za {
    background-position: 0 -11808px;
  }
  &.flag-zm {
    background-position: 0 -11856px;
  }
  &.flag-zw {
    background-position: 0 -11904px;
  }
}
